<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.thomcz.next"
    android:versionCode="3"
    android:versionName="1.2">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.org.thomcz.next.activity.LevelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.org.thomcz.next.activity.StageMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.org.thomcz.next.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.org.thomcz.next.activity.LevelMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.org.thomcz.next.activity.MainMenu"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
