<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.next" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LevelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StageMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelMenu"
            android:label="@string/title_activity_level_menu" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu">

        </activity>
    </application>

</manifest>
